#container{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.btn{
  width: 110px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
}