*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: #111;
  color: white;
}

h1{
  width: 500px;
  background-color: rgba(113, 98, 98, 0.148);
  height: 350px;
  margin: 30px;
  display: flex;
  justify-content: center;
  font-size: 55px;
  align-items: center;
  border: 8px solid rgba(255, 255, 255, 0.148);
}

button{
  width: 150px;
  height: 45px;
  font-size: 16px;
  background-color: rgb(102, 102, 239);
  margin-left: 80px;
  color: white;
}