* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  background-color: rgb(50, 217, 161);
}

h2 {
  font-size: 35px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.links {
  display: flex;
  gap: 40px;
  font-size: 24px;
}